@{
    ViewBag.Title = "AutOK";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Via S. Bartolomeo degli Armeni, 2h/6<br />
    16122 - Genova<br />
    <abbr title="Telefono">P:</abbr>
    Tel  + 39 010 9868006
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>